section
	section#agenda
		h2 Agenda:
		ol
			li.fragment.fade-right(data-fragment-index='1')
				a.fragment(href='#/intro-intro', data-fragment-index='1')
					| Czym jest JavaScript i czy jest nam potrzebny?
			li.fragment.fade-right(data-fragment-index='2')
				a.fragment(href='#/intro-js-basic', data-fragment-index='2')
					| Podstawy JavaScript
			li.fragment.fade-right(data-fragment-index='3')
				a.fragment(href='#/intro-browser', data-fragment-index='3')
					| Przeglądarka, a JavaScript
			li.fragment.fade-right(data-fragment-index='4')
				a.fragment(href='#/intro-testing', data-fragment-index='4')
					| Testowanie
			li.fragment.fade-right(data-fragment-index='5')
				a.fragment(href='#/intro-project', data-fragment-index='5')
					| Projekt i zaliczenie