
section#ending
    section
        h4 Przydatne linki 
        ul
            li
                a(href='https://developer.mozilla.org/pl/docs/Web') MDN
            li
                a(href='https://www.nafrontendzie.pl/') Na Frontendzie
            li
                a(href='https://bedekodzic.pl/') Będę kodzić
            li
                a(href='https://www.youtube.com/channel/UC_MIaHmSkt9JHNZfQ_gUmrg') Overment - YT
            li
                a(href='https://www.youtube.com/channel/UCq8XmOMtrUCb8FcFHQEd8_g') Hello Roman - YT
            li
                a(href='https://www.youtube.com/channel/UCb2Y3vMeD6N4WDt5Acw7Arw') Przeprogramowani - YT
            li
                a(href='https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA') Fireship - YT

    section 
        h3 Dziękuję za uwagę 😃
        h4 I powodzenia!
            
        
        