section#project
	section#intro-project
		h2 Projekt i zaliczenie
	section#project-configuration
		h4 Konfiguracja projektu
		ol
			li
				span Pobieramy i instalujemy 
					a(href='https://nodejs.org/en/') Node.js
					| ze strony głównej lub za
					| pomoca
					a(href='https://github.com/coreybutler/nvm-windows') NVM
			li
				span Pobieramy template projektu z 
					a(href='https://github.com/Obryko/js-jsk-template') repo
					| ,
					| jako zip.
			li
				span Wypakowujemy w miejscu projektu i wpisujemy w konsoli 
					code.bash.hljs.custom-bash npm install
					| .
			li
				span W celu startu aplikacji developerskiej wpisujemy w konsoli 
					code.bash.hljs.custom-bash npm start
			li
				span W celu zbudowania aplikacji produkcyjnej wpisujemy w konsoli 
					code.bash.hljs.custom-bash npm run build
	section#typi-code
		h4 Backend do projektu
		p 
			|W projekcie dane naszej aplikacji trzymamy na prostym serwerze plikowym 
			a(href="https://github.com/typicode/json-server") typi-code/json-server
			|.
		p 
			|Serwer uruchamiamy poleceniem 
			code.bash.hljs.custom-bash npm run server 
			|, zostanie on uruchomiony pod adresem http://localhost:3000.
			| Komunikujemy się z nim za pomocą poznanej funkcji 
			code.javascript.hljs.custom-bash fetch()

