/* Deafult reveal.js stylesheet */
@import "./node_modules/reveal.js/dist/reset.css";
@import "./node_modules/reveal.js/dist/reveal.css";

/* Theme used for slides */
@import "./node_modules/reveal.js/dist/theme/black.css";
/* @import "./node_modules/reveal.js/dist/theme/beige.css"; */
/* @import "./node_modules/reveal.js/dist/theme/blood.css"; */
/* @import "./node_modules/reveal.js/dist/theme/league.css"; */
/* @import "./node_modules/reveal.js/dist/theme/moon.css"; */
/* @import "./node_modules/reveal.js/dist/theme/night.css"; */
/* @import "./node_modules/reveal.js/dist/theme/serif.css"; */
/* @import "./node_modules/reveal.js/dist/theme/simple.css"; */
/* @import "./node_modules/reveal.js/dist/theme/sky.css"; */
/* @import "./node_modules/reveal.js/dist/theme/solarized.css"; */
/* @import "./node_modules/reveal.js/dist/theme/white.css"; */

/* Theme used for syntax highlighting of code */
@import "./node_modules/reveal.js/plugin/highlight/monokai.css";
/* @import "./node_modules/reveal.js/plugin/highlight/zenburn.css"; */

/* Style used for printing to pdf and on paper */

/* @import "./node_modules/reveal.js/dist/print/paper.css"; */
/* @import "./node_modules/reveal.js/plugin/print/pdf.css"; */

.agenda-align {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: fit-content;
  margin: auto;
}

.no-decorators {
  list-style-type: none;
}

.types-grid {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
}

.types-grid > .type {
  margin: auto;
}

pre,
pre > code {
  margin: 0 auto !important;
  padding: 0 !important;
}

pre {
  box-shadow: none !important;
  font-size: 0.4em !important;
}

.go-to-github-example {
  position: fixed;
  top: 0rem;
  font-size: 10px;
  left: -16rem;
}
.example-image {
  width: 15px;
  border: none !important;
  margin: 0 !important;
  height: 15px;
  background: none !important;
  filter: invert(100%);
  box-shadow: none !important;
}

.example-image:hover {
  box-shadow: none !important;
}

.visible.display-none {
  display: none;
}

.custom-bash {
  padding: 0;
  display: inline;
}

#project-configuration span {
  font-size: 36px;
}

.small-pre {
  max-height: 150px;
}

.error > span {
  color: red !important;
}

pre.margined {
  margin: 20px auto !important;
}

.align-div {
  display: flex !important;
  flex-direction: column !important;
  padding-left: 76px !important;
}

.code-ul {
  list-style-type: none !important;
  width: inherit;
}

.code-ul > li {
  margin: 10px 0;
}

.hash-margin {
  margin: 0 30px
}