section
	section#agenda
		h2 Agenda:
		ol
			li.fragment.fade-right(data-fragment-index='1')
				a.fragment(href='#/intro-intro', data-fragment-index='1')
					| Czym jest JavaScript i czy jest nam potrzebny?
			li.fragment.fade-right(data-fragment-index='2')
				a.fragment(href='#/intro-js-basic', data-fragment-index='2')
					| Podstawy JavaScript
			li.fragment.fade-right(data-fragment-index='3')
				a.fragment(href='#/intro-browser', data-fragment-index='3')
					| Przeglądarka, a JavaScript
			li.fragment.fade-right(data-fragment-index='4')
				a.fragment(href='#/intro-testing', data-fragment-index='4')
					| Testowanie
			li.fragment.fade-right(data-fragment-index='5')
				a.fragment(href='#/intro-project', data-fragment-index='5')
					| Projekt i zaliczenie
	section#agenda-js-base
		.agenda-align
			h3 Podstwy JavaScript
			ul
			li.fragment.fade-right(data-fragment-index='1')
				a.fragment.highlight-current-green(href='#/variables', data-fragment-index='1')
				| Zmienne
			li.fragment.fade-right(data-fragment-index='2')
				a.fragment.highlight-current-green(href='#/functions', data-fragment-index='2')
				| Funkcje
			li.fragment.fade-right(data-fragment-index='3')
				a.fragment.highlight-current-green(href='#/objects', data-fragment-index='3')
				| Obiekty
			li.fragment.fade-right(data-fragment-index='4')
				a.fragment.highlight-current-green(href='#/conditions', data-fragment-index='4')
				| Warunki logiczne
			li.fragment.fade-right(data-fragment-index='6')
				a.fragment.highlight-current-green(href='#/arrys', data-fragment-index='6')
				| Operacje na tablicach
			li.fragment.fade-right(data-fragment-index='7')
				a.fragment.highlight-current-green(href='#/prototyps', data-fragment-index='7')
				| Prototypy
			li.fragment.fade-right(data-fragment-index='8')
				a.fragment.highlight-current-green(href='#/clousers', data-fragment-index='8')
				| Scope & Clousers & Hoisting
	section#agenda-browser
		.agenda-align
			h3 Przeglądarka, a JavaScript
			ul
			li.fragment.fade-right(data-fragment-index='1')
				span.fragment.highlight-current-green(data-fragment-index='1')
				| Podłączenie JS do HTML
			li.fragment.fade-right(data-fragment-index='2')
				span.fragment.highlight-current-green(data-fragment-index='2')
				| DOM
			li.fragment.fade-right(data-fragment-index='3')
				span.fragment.highlight-current-green(data-fragment-index='3')
				| Operacje na obiekcie dokument
	section#agenda-testing
		.agenda-align
			h3 Testowanie
			ul
			li.fragment.fade-right(data-fragment-index='1')
				span.fragment.highlight-current-green(data-fragment-index='1')
				| Freamwork JEST.
			li.fragment.fade-right(data-fragment-index='2')
				span.fragment.highlight-current-green(data-fragment-index='2')
				| Gdzie umiejscowiść testy?
			li.fragment.fade-right(data-fragment-index='3')
				span.fragment.highlight-current-green(data-fragment-index='3')
				| Jak wygląda test?
			li.fragment.fade-right(data-fragment-index='4')
				span.fragment.highlight-current-green(data-fragment-index='4')
				| Mock na globalnych obiektach.
	section#agenda-project
		.agenda-align
			h3 Projekt i zaliczenie
			ul
			li.fragment.fade-right(data-fragment-index='1')
				a.fragment.highlight-current-green(href='#/project-configuration', data-fragment-index='1')
				| Konfiguracja projektu
			li.fragment.fade-right(data-fragment-index='2')
				a.fragment.highlight-current-green(href='#/project-task', data-fragment-index='2')
				| Zadanie projektowe
