section#title-page
	hgroup
		h1 JavaScript
		h2 Java Starter Kit
	p
		small Autor 
			a(href='mailto:kacper.obrycki@capgemini.com') Kacper Obrycki
		small.hash-margin  # 
		small Marzec 2021
section
	h4
		a(href='https://obryko.github.io/js-jsk-slides') https://obryko.github.io/js-jsk-slides
