section#functions
	h4 Funkcje
	pre.fragment.fade-right.small-pre
		code.javascript.hljs
			| function foo(name) {
			| 	console.log(`Cześć ${name}!`);
			| 	return name.toUpperCase();
			| };
	pre.fragment.fade-right.small-pre
		code.javascript.hljs
			| const foo = function(name) {
			| 	console.log(`Cześć ${name}!`);
			| 	return name.toUpperCase();
			| };
	pre.fragment.fade-right.small-pre
		code.javascript.hljs
			| const foo = (name) => {
			| 	console.log(`Cześć ${name}!`);
			| 	return name.toUpperCase();
			| };
	pre.fragment.fade-right.small-pre
		code.javascript.hljs
			| const foo = (name) => name.toUpperCase();