section#objects
	h4 Obiekty
	p.fragment.fade-right W JavaScript 
		u prawie
		|  wszystko jest obiektem!
	pre.fragment.fade-right
		code.javascript.hljs
			| function show() {
			| 	console.log(this.brand + " koloru " + this.color);
			| }
			| 
			| const car1 = {
			| 	brand : "Mercedes",
			| 	color : "czerwony",
			| 	showText : show
			| }
			| 
			| const car2 = {
			| 	brand : "BMW",
			| 	color : "czarny",
			| 	showText : show
			| }
			| 
			| car1.showText(); //"Mercedes koloru czerwony"
			| car2.showText(); //"BMW koloru czarny"
section
	h4 Dostęp do pól obiektów.
	pre.fragment.fade-right(data-fragment-index='0')
		code.javascript.hljs(data-noescape)
			| const car = {
			| 	brand: "Mercedes",
			| 	color: "czerwony",
			| 	showText: show
			| }
			.fragment.fade-in(data-fragment-index='1')
				| // Sprawdzanie po polu
				| car.brand; // "Mercedes"
			.fragment.fade-in(data-fragment-index='2')
				| // Dodawanie pola
				| car.year = 2002;
			.fragment.fade-in(data-fragment-index='3')
				| // Pobieranie pola po nazwie w string
				| car['year']; // 2002
section
	h4 Iteracja po obiekcie
	pre.fragment.fade-right(data-fragment-index='0')
		code.javascript.hljs(data-noescape)
			| const car = {
			| 	brand : "Mercedes",
			| 	color : "czerwony",
			| 	showText : show
			| }
	pre.fragment.fade-right(data-fragment-index='1')
		code.javascript.hljs(data-noescape)
			| for(const key in car) {
			| 	console.log(key);
			span.fragment.fade-out.display-none(data-fragment-index='2') // ???
			span.fragment.fade-in(data-fragment-index='2') // brand kolor showText
			|
			| }
			| Object.keys(car);
			span.fragment.fade-out.display-none(data-fragment-index='3') // ???
			span.fragment.fade-in(data-fragment-index='3') // ['brand', 'kolor','showText']
	pre.fragment.fade-right(data-fragment-index='4')
		code.javascript.hljs(data-noescape)
			| for(const key in car) {
			| 	console.log(car[key]);
			span.fragment.fade-out.display-none(data-fragment-index='5') // ???
			span.fragment.fade-in(data-fragment-index='5') // ['Mercedes', 'czerwony', f]
			|
			| }
			| Object.values(car);
			span.fragment.fade-out.display-none(data-fragment-index='6') // ???
			span.fragment.fade-in(data-fragment-index='6') // ['Mercedes', 'czerwony', f]
section
	h4 Destrukturyzacja obiektów
	p Destrukturyzacja pozawala rozłozyć obiekt na pojedyncze pola.
	pre.fragment.fade-right(style='width: 110%;', data-fragment-index='1')
		code.javascript.hljs(data-noescape)
			| const car = {
			| 	brand : "Mercedes",
			| 	color : "czerwony"
			| }
			|
			span.fragment.fade-in(data-fragment-index='2') const { brand, color } = car;
	pre.fragment.fade-right(style='width: 110%;', data-fragment-index='3')
		code.javascript.hljs(data-noescape)
			| const engine = {
			| 	capacity : 2,
			| 	fuel : "disel"
			| }
			|
			span.fragment.fade-in(data-fragment-index='4') 
				|const carWithEngine = {...car, ...engine};
				|
			span.fragment.fade-in(data-fragment-index='5') console.log(carWithEngine); // { brand: "Mercedes", color: "czerwony", capacity: 2, fuel: "disel"};
